body {
  font-family: "Cormorant Garamond", serif;
}

/* Page Header */
#page-header {
  width: 100%;
  height: 30vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 14px;
}
#page-header.contact-header {
  height: 15vh;
  padding-top: 88px;
}

#page-header .page-style1 {
  padding: 10px;
  text-decoration: underline black;
  font-weight: 500;
}
